.box {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    padding: 20px 30px;
    box-shadow: 5px 5px 5px black, -5px -5px 5px black;
}
.box .tittle {
    margin-bottom: 15px;
}

