#box {
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 20px 30px;
    box-shadow: 5px 5px 5px black, -5px -5px 5px black;
}
#box h1{
    margin-bottom: 15px;
}