.skills{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #474350;
}

.skills .tittle{
    color: white;
    text-align: center;
    padding-top: 50px;
    text-shadow: 3px 3px 2px black;
}

.skills .wrapper-skills{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.skills .wrapper-skills .subtittle{
    color: white;
    text-shadow: 2px 2px 2px black;
}
